@model List<LaboDos.Models.Persona>


@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="container">
        <table class="table table-hover" id="tabladeregistros">
            <thead>
            <th>
                IdPersona
            </th>
            <th>
                Nombre
            </th>
            <th>
                Edad
            </th>
            <th>
                Descripcion
            </th>

            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                    <tr>

                        <td>@item.IdPersona </td>
                        <td>@item.NombrePersona </td>
                        <td>@item.EdadPersona </td>
                        <td>@item.DescripcionPersona </td>

                    </tr>


                }


            </tbody>



        </table>
    </div>
    @section scripts{
        <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script>$(document).ready(function () {
            var tablaRegistro = $('#tabladeregistro').DataTable();
        });</script>
    }

